nav.navbar {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index:100;
}
footer {
	position: fixed;
	width: 100%;
	left:0;
	bottom: 0;
	background-color: white;
	z-index:100;
}

.content {
	margin-top: 100px;
	margin-bottom: 50px;
}

.nav-right {
	color: white;
}

a.nav-right:hover {
	color: white !important;
	text-decoration: underline;
}
.user-box {
	float:left;
	margin-right: 50px;
	border: 1px dotted #99ccff;
	width: 300px;
	min-width: 300px;
	padding: 50px;
}

#picInfo {
	width: 100px;
	height: 100px;
}