<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeBoard">
	<sql id="boardColumn">
		num, writer, title, content, viewCount, TO_CHAR(regdate, 'YYYY.MM.DD AM HH:MI:SS') regdate
	</sql>
	
	<insert id="insert" parameterType="boardDto">
		INSERT INTO c_board_free
		(num, writer, title, content)
		VALUES(c_board_free_seq.NEXTVAL, #{writer}, #{title}, #{content})
	</insert>
	<select id="getData" parameterType="boardDto" resultType="boardDto">
		SELECT *
		FROM (
		SELECT <include refid="boardColumn"/>,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) prevNum, 
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) nextNum
		FROM c_board_free
		<where>
			<if test="writer != null">
				OR writer LIKE '%'||#{writer}||'%'
			</if>
			<if test="title != null">
				OR title LIKE '%'||#{title}||'%'
			</if>
			<if test="content != null">
				OR content LIKE '%'||#{content}||'%'
			</if>
		</where>
		ORDER BY num DESC) 
		WHERE num = #{num}
	</select>
	<select id="getList" parameterType="boardDto" resultType="boardDto">
		SELECT *
		FROM	(
			SELECT result1.*, ROWNUM rnum FROM (
				SELECT <include refid="boardColumn"/>
				FROM c_board_free
				<where>
					<if test="writer != null">
						OR writer LIKE '%'||#{writer}||'%'
					</if>
					<if test="title != null">
						OR title LIKE '%'||#{title}||'%'
					</if>
					<if test="content != null">
						OR content LIKE '%'||#{content}||'%'
					</if>
				</where>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" parameterType="boardDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM c_board_free
		<where>
			<if test="writer != null">
				OR writer LIKE '%'||#{writer}||'%'
			</if>
			<if test="title != null">
				OR title LIKE '%'||#{title}||'%'
			</if>
			<if test="content != null">
				OR content LIKE '%'||#{content}||'%'
			</if>
		</where>
	</select>
	<update id="addViewCount" parameterType="int">
		UPDATE c_board_free
		SET viewCount = viewCount + 1
		WHERE num = #{num}
	</update>
	<update id="addPoint" parameterType="String">
		UPDATE c_user
		SET point = point + 3
		WHERE id = #{id}
	</update>
	<select id="getPreviewList" resultType="boardDto">
		SELECT *
		FROM ( SELECT result1.*, ROWNUM rnum FROM (
			SELECT <include refid="boardColumn"/>
			FROM c_board_free
			ORDER BY num DESC) result1)
		WHERE rnum BETWEEN 1 AND 5
	</select>
</mapper>